
[submodule "1st-semester/cs-basics/lab1"]
	path = 1st-semester/cs-basics/lab1
	url = https://github.com/svinoczaritmo/s1-bpa-lab1
	branch = main
[submodule "1st-semester/cs-basics/lab2"]
	path = 1st-semester/cs-basics/lab2
	url = https://github.com/svinoczaritmo/s1-bpa-lab2
	branch = main
[submodule "1st-semester/computer-science/extra"]
	path = 1st-semester/computer-science/extra
	url = https://github.com/svinoczaritmo/s1-cs-extra
	branch = main
[submodule "1st-semester/computer-science/lab1"]
	path = 1st-semester/computer-science/lab1
	url = https://github.com/svinoczaritmo/s1-cs-lab1
	branch = main
[submodule "1st-semester/computer-science/lab2"]
	path = 1st-semester/computer-science/lab2
	url = https://github.com/svinoczaritmo/s1-cs-lab2
	branch = main
