
[submodule "1st-semester/cs-basics/lab1"]
	path = 1st-semester/cs-basics/lab1
	url = https://github.com/svinoczaritmo/s1-bpa-lab1
	branch = main
[submodule "1st-semester/cs-basics/lab2"]
	path = 1st-semester/cs-basics/lab2
	url = https://github.com/svinoczaritmo/s1-bpa-lab2
	branch = main
[submodule "1st-semester/computer-science/extra"]
	path = 1st-semester/computer-science/extra
	url = https://github.com/svinoczaritmo/s1-cs-extra
	branch = main
[submodule "1st-semester/computer-science/lab1"]
	path = 1st-semester/computer-science/lab1
	url = https://github.com/svinoczaritmo/s1-cs-lab1
	branch = main
[submodule "1st-semester/computer-science/lab2"]
	path = 1st-semester/computer-science/lab2
	url = https://github.com/svinoczaritmo/s1-cs-lab2
	branch = main
[submodule "1st-semester/computer-science/lab3"]
	path = 1st-semester/computer-science/lab3
	url = https://github.com/svinoczaritmo/s1-cs-lab3
	branch = main
[submodule "1st-semester/computer-science/lab4"]
	path = 1st-semester/computer-science/lab4
	url = https://github.com/svinoczaritmo/s1-cs-lab4
	branch = main
[submodule "1st-semester/computer-science/lab5"]
	path = 1st-semester/computer-science/lab5
	url = https://github.com/svinoczaritmo/s1-cs-lab5
	branch = main
[submodule "1st-semester/computer-science/lab6"]
	path = 1st-semester/computer-science/lab6
	url = https://github.com/svinoczaritmo/s1-cs-lab6
	branch = main
[submodule "1st-semester/programming/lab1"]
	path = 1st-semester/programming/lab1
	url = https://github.com/svinoczaritmo/s1-prog-lab1
	branch = main
[submodule "1st-semester/programming/lab2"]
	path = 1st-semester/programming/lab2
	url = https://github.com/svinoczaritmo/s1-prog-lab2
	branch = main
[submodule "1st-semester/programming/lab3"]
	path = 1st-semester/programming/lab3
	url = https://github.com/svinoczaritmo/s1-prog-lab3
	branch = main
[submodule "1st-semester/programming/lab4"]
	path = 1st-semester/programming/lab4
	url = https://github.com/svinoczaritmo/s1-prog-lab4
	branch = main
[submodule "2nd-semester/programming/lab5"]
	path = 2nd-semester/programming/lab5
	url = https://github.com/svinoczaritmo/s2-prog-lab5
	branch = main
[submodule "2nd-semester/programming/lab6"]
	path = 2nd-semester/programming/lab6
	url = https://github.com/svinoczaritmo/s2-prog-lab6
	branch = main
